
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background: #000000;
}

#badges, #progress, #awards {
  text-align: center;
}

.course {
  background: #235021;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #EAEAEA;
  display: inline-block;
  height: 350px;
  margin: 20px 10px;
  padding: 15px 10px;
  width: 200px;
}

.awards {
  background: #235021;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #EAEAEA;
  display: inline-block;
  height: 300px;
  margin: 20px 10px;
  padding: 0px 10px;
  width: 200px;
}

.course h3 {
  color: #2DBB28;
  font-size: 1.9rem;
  font-weight: 200;
  min-height: 80px;;
}

.awards h3 {
  color: #2DBB28;
  font-size: 1.9rem;
  font-weight: 200;
  min-height: 80px;;
}

.course img {
  border: none;
  height: 150px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 150px;
}

.awards img {
  border: none;
  height: 150px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 150px;
}

.course a:link {
  display: block;
  color: #08E700 !important;
  background-color: #387A36 !important;
  border-color: #000000;
}

.course a:visited {
  color: #235021;
  background-color: #1E311D;
  border-color: #000000;
}

.course a:hover {
  color: yellow !important;
  background-color: #08E700 !important;
  border-color: #000000;
}

.course a:active {
  display: block;
  color: #08E700;
  background-color: red;
  border-color: #000000;
}

h1, h2 {
  color: #08E700;
}

.btn btn-primary {
  color: #08E700;
}

